<img style="float: left;;" src='../Figures/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Repaso de la Librería Pandas</font> </center>

# Entrada y salida de datos


<div class="alert alert-info"><strong>NOTA:</strong> 
Por lo general, solo leeremos archivos csv directamente o usaremos pandas-datareader para extraer datos de la web. Este apartado es una descripción general y rápida de lo que es posible realizar con la librería de pandas (no trabajaremos con archivos SQL en este curso)</div>


La librería de pandas permite leer una variedad de tipos de archivos usando sus métodos pd.read_. Echemos un vistazo a los tipos de datos más comunes:

In [1]:
import numpy as np
import pandas as pd

## CSV
Los archivos de valores separados por comas (CSV), son archivos de texto que utilizan comas como delimitadores de campo.<br>
### CSV entrada

In [11]:
df = pd.read_csv('../Data/example.csv')

In [12]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
df.head(2)

   a  b  c  d
0  0  1  2  3
1  4  5  6  7

In [15]:
df.tail(2)

    a   b   c   d
2   8   9  10  11
3  12  13  14  15

In [16]:
df.shape

(4, 4)

### CSV salida

In [4]:
df.to_csv('../Data/example_2.csv')

## Excel
con Pandas podemos leer y escribir archivos de MS Excel. Sin embargo, esto solo importa datos, no fórmulas ni imágenes. Un archivo que contiene imágenes o macros puede causar que el método <tt>.read_excel()</tt> no funcione.

### Excel entrada

In [5]:
pd.read_excel('../Data/Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel salida

In [8]:
del df['a']

In [9]:

df

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15

In [10]:
df.to_excel('../Data/Excel2.xlsx')

____